/database/auto.cnf
/database/ib_buffer_pool
/database/client-cert.pem
/database/performance_schema/
/database/ca-key.pem
/database/mysql/
/database/server-key.pem
/database/public_key.pem
/database/ca.pem
/database/ib_logfile1
/database/ib_logfile0
/database/contest/
/database/private_key.pem
/database/sys/
/database/client-key.pem
/database/server-cert.pem
/database/ibdata1